/* fonts */
@font-face {
	font-family:"helvetica45";
	src: url("../fonts/helveticaneueltpro_lt-webfont.eot");
	src: url("../fonts/helveticaneueltpro_lt-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltpro_lt-webfont.woff") format("woff"),
		url("../fonts/helveticaneueltpro_lt-webfont.ttf") format("truetype"),
		url("../fonts/helveticaneueltpro_lt-webfont.svg#helvetica45") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "helvetica75";
	src: url("../fonts/helveticaneueltpro_bd-webfont.eot");
	src: url("../fonts/helveticaneueltpro_bd-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltpro_bd-webfont.woff") format("woff"),
		url("../fonts/helveticaneueltpro_bd-webfont.ttf") format("truetype"),
		url("../fonts/helveticaneueltpro_bd-webfont.svg#helvetica75") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:"roadwayregular";
	src: url("../fonts/roadway-webfont.eot");
	src: url("../fonts/roadway-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/roadway-webfont.woff2") format("woff2"),
		url("../fonts/roadway-webfont.woff") format("woff"),
		url("../fonts/roadway-webfont.ttf") format("truetype"),
		url("../fonts/roadway-webfont.svg#roadwayregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* main style */
body {
  color: #323232;
  min-width: 320px;
  background-color: #fff;
  font-family: "helvetica45", Arial, Helvetica, sans-serif;
}
h1, h2, p {
	margin:0;
	padding:0;
	font-weight: normal;
}
section, footer, #kendoOverlayContent {
	padding: 70px 10px;
}
.contentContainer {
	margin: 0 auto;
	width: 980px;
}
.parallaxContainer {
	background: transparent;
	background-color:#323232;
	// max-width: 1400px;
}
.noSelectClick {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.borderButton {
	border: 2px solid #fff;
	padding: 8px 10px;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
}
.displayNone { display:none; }
.backgroundDarkGrey { background-color : #323232; }
.colorBlue { color: #000096; }

.condensedFont { font-family:"roadwayregular"; }
.boldFont { font-family:"helvetica75"; }

.textCenter { text-align: center; }
.textJustify { text-align: justify; }
.textRight { text-align: right; }

// .fontSize14 { font-size:14px; line-height:14px; }
.fontSize16 { font-size:16px; line-height:16px; }
.fontSize16Paragraph { font-size:16px; line-height:19px; }
.fontSize18 { font-size:18px; line-height:18px; }
.fontSize18Paragraph { font-size:18px; line-height:22px; }
.fontSize20 { font-size:20px; line-height:20px; }
.fontSize20Paragraph { font-size:20px; line-height:23px; }
.fontSize22 { font-size:22px; line-height:22px; }
.fontSize25 { font-size:25px; line-height:25px; }
.fontSize30 { font-size:30px; line-height:30px; }
.fontSize40 { font-size:40px; line-height:40px; }

.marginAuto { margin: 0 auto; }
.marginBottom5 { margin-bottom:5px; }
.marginBottom10 { margin-bottom:10px; }
.marginBottom15 { margin-bottom:15px; }
.marginBottom20 { margin-bottom:20px; }
// .marginBottom25 { margin-bottom:25px; }
.marginBottom30 { margin-bottom:30px; }
// .marginBottom40 { margin-bottom:40px; }

.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }
.contentPadding { padding: 10px; }
.shortContentPadding { padding: 5px 10px; }
.posRel { position:relative; }
.overflowHidden { overflow: hidden; }

// .linkTriangle14 {
// 	width: 0;
// 	height: 0;
// 	border-top: 5px solid transparent;
// 	border-bottom: 5px solid transparent;
// 	border-left: 7px solid #000096;
// 	margin: 2px 0 0 5px;
// }
.linkTriangle16 {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #000096;
	margin: 2px 0 0 5px;
}
.moreTriangle {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #fff;
	margin: 4px 0 0 5px;
}
.backTriangle {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 8px solid #fff;
	margin: 4px 5px 0 0;
}

#scrollToTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
}
header {
	#mobileNavigation {
		visibility: hidden;
		width: 100%;
		min-width: 320px;
		position: absolute;
		top: 59px;
		left: 0;
		#mobileNavigationArrow{
			margin-right: 22px;
			width: 0; 
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #000096;
		}
		#mobileNavigationContent {
			margin-top: 15px;
			background-color: #000096;
			color:#fff;
			padding: 0 5%;
			p {
				width: 25%;
				margin: 0;
				padding: 15px 0;
			}
		}
	}
	#headerContent {
		padding: 20px 10px 20px 20px;
		#clubHeaderLogo {
			&:link, &:visited, &:hover, &:focus, &:active {
				color: #000096;
			}
			img {
				width: 54px;
				height:54px;
			}
			h1 {
				padding-left: 10px;
			}
		}
		#mobileButton {
			height: 36px;
			width: 34px;
			margin: 6px 4px 0 0;
			padding: 6px 6px 0 6px;
			div {
				background-color: #323232;
				width: 34px;
				height:6px;
				margin: 0 0 6px 0;
				-webkit-border-radius: 12px; 
				-moz-border-radius: 12px; 
				border-radius: 12px; 
			}
		}
		#navigation {
			p {
				padding: 10px;
				margin: 7px 0 7px 40px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}
#welcome {
	h2, p{
		text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
	}
	h2 {
		margin: 48px 0 5px 0;
	}
	.borderButton {
		margin: 40px 0 45px 0;
	}	
}
#iconLinks {
	.iconLinksItem {
		width: 29.333%;
		padding: 10px 2%;
	}
	#dateText {
		padding-top: 18px;
	}
	.homeIcons {
		width: 48px;
		height: 48px;
		background-image:url(../images/icons.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	.homeIcon1 { background-position: 0 0; }
	.homeIcon2 { background-position: -48px 0; }
	.homeIcon3 { background-position: -96px 0; }
}
#ourClub {
	background-color: #323232;
	.fb-like {
		display: block;
		padding: 16px 0 0 5px;
	}
	.ourClubContent {
		width: 50%;
	}
}
#martialArts {
	p {
		text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
	}
	.martialArtsImageContainer {
		width: 33.333%;
		.martialArtsImage {
			height: 250px;
			p {
				margin-top: 102px;
			}
		}
	}
}
#news {
	background-color: #000096;
	.newsItem {
		width: 33.3333%;
		float: left;
		.newsImage {
			width: 100%;
		}
	}
}
#seiza {
	min-height: 260px;
}
#dojos {
	.locations {
		width: 25%;
		.mapImages {
			width: 100%;
			display: block;
			margin: 5px 0;
		}
	}
}
#contactUs {
	background-color: #fff;
	padding-left:0;
	padding-right:0;
	.contactUsSeperatePadding {
		padding: 10px 20px;
	}
	a {
		color: #000096;
		text-decoration: none;
	}
	#contactUsFeedback {
		color:#fff;
		background-color: #d75452;
	}
	#contactUsContent3,  #contactUsContent1 {
		width: 44%;
	}
	#contactUsContent2 {
		width: 12%;
		height: 200px;
		div {
			position: absolute;
			top: 0;
			left: 50%;
			margin: 0 0 0 -1px;
			background-color: #323232;
			width: 2px;
			height: 500px;
		}
		p {
			position: absolute;
			background-color: #fff;
			top: 170px;
			left: 50%;
			padding: 20px 10px;
			margin: -10px 0 0 -23px;
		}
	}
	select, input, textarea, .submitButton {
		background-color: #fff;
	}
	select {
		cursor: pointer;
	}
	input, textarea {
		border: 1px solid #323232;
		width: 96%;
		padding: 3px 1% 3px 2%;
	}
	input {
		height: 20px;
	}
	textarea {
		resize: none;
		height: 64px;
	}
	.submitButton {
		color: #323232;
		border: 2px solid #323232;
		padding: 6px 8px;
	}
	.loading {
		margin:2px 0 0 10px;
	}
}
footer {
	background-color: #000;
	#footerContent {
		padding: 20px;
		min-height: 60px;
		#footerLinks {
			#footerLogo {
				position: absolute;
				left: 0;
				top: 0;
			}
			#footerLinksInner {
				padding-left: 100px;
			}
		}
		#footerFacebook {
			width: 70%;
			overflow: hidden;
			.fb-like-box {
				margin: 0 0 0 -10px;
			}
		}
	}
}
#welcome, #ourClub, #martialArts, #news, footer {
	color: #fff;
}

#kendoOverlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	color:#ffffff;
	overflow:auto;
	&.overlayWhite { background-color:#ffffff; color:#323232; }
	&.overlayBlue { background-color:#000096; }
	&.overlayBlack { background-color:#000000; }
	&.overlayGrey { background-color:#323232; }
	
	&.overlayBlue, &.overlayBlack, &.overlayGrey {
		.colorBlue {
			color:#afafff;
		}
	}
	a {
		text-decoration: none;
	}
	img {
		width: 100%;
	}







}






/* Media Queries */
@media only screen and (min-width: 1200px) {
	#scrollToTop {
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: 520px;
		width: 48px;
		height: 48px;
	}
}
@media only screen and (max-width: 999px) {
	.contentContainer {
		width: 100%;
	}
	footer #footerContent {
		#footerLinks #footerLinksInner {
			padding-left: 90px;
		}
		#footerFacebook {
			width: 64%;
		}
	}
}
@media only screen and (max-width: 767px) {
	section, footer, #kendoOverlayContent {
		padding: 50px 10px;
	}
	.clearBothLessThan768 {
		clear: both;
	}
	header {
		#mobileNavigation {
			visibility: visible;
		}
		#headerContent {
			padding: 10px 10px 10px 20px;
			#mobileButton {
				display: inline;
			}
			#navigation {
				display: none;
			}
		}
	}
	#welcome {
		h2 {
			margin: 0 0 10px 0;
		}
		.borderButton {
			margin: 20px 0 0 0;
		}
	}
	#dojos .locations {
		width: 50%;
	}
	footer #footerContent {
		#footerLinks #footerLinksInner {
			padding: 80px 0 0 0;
		}
		#footerFacebook {
			width: 70%;
		}
	}
}
@media only screen and (max-width: 599px) {
	section, footer, #kendoOverlayContent {
		padding: 30px 10px;
	}
	#iconLinks {
		.iconLinksItem {
			width: 94%;
			padding: 21px 3%;
		}
	}
	#ourClub {
		.ourClubContent {
			width: 100%;
		}
	}
	#martialArts {
		.martialArtsImageContainer {
			width: 100%;
		}
	}
	#news {
		.newsItem {
			width: 100%;
		}
		.newsPagination {
			display: none !important;
		}
	}
	#dojos .locations {
		width: 100%;
	}
	#contactUs {
		#contactUsContent3, #contactUsContent2,  #contactUsContent1 {
			width: 100%;
		}
		#contactUsContent2 {
			height: 80px;
			div {
				top: 50%;
				left: 0;
				margin: -1px 0 0 0;
				width: 100%;
				height: 2px;
			}
			p {
				top: 11px;
				margin: 0 0 0 -27px;
				padding: 20px;
			}
		}
		.submitButton {
			padding: 8px 10px;
		}
		.loading {
			margin: 5px 0 0 10px;
		}
	}
	footer #footerContent {
		#footerLinks {
			width: 100%;
			#footerLinksInner {
				padding: 0 0 0 80px;
				
				h2 {
					// clear: both;
					// float: right;
					text-align: right;
				}
			}
		}
		#footerFacebook {
			width: 100%;
		}
	}
}
@media only screen and (max-width: 479px) {
	section, footer, #kendoOverlayContent {
		padding: 20px 10px;
	}
	header {
		#mobileNavigation {
			#mobileNavigationContent {
				padding: 6px 10%;
				p {
					width: 50%;
				}
			}
		}
	}
}

/* 
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/  
This element holds injected scripts inside iframes that in 
some cases may stretch layouts. So, we're just hiding it. 
*/
#footerFacebook {
	#fb-root {
	  display: none;
	}
	/* To fill the container and nothing else */
	.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	  width: 100% !important;
	}
}
