/* fonts */
@font-face {
	font-family:"helvetica45";
	src: url("../fonts/helveticaneueltpro_lt-webfont.eot");
	src: url("../fonts/helveticaneueltpro_lt-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltpro_lt-webfont.woff") format("woff"),
		url("../fonts/helveticaneueltpro_lt-webfont.ttf") format("truetype"),
		url("../fonts/helveticaneueltpro_lt-webfont.svg#helvetica45") format("svg");
	font-weight: normal;
	font-style: normal;
}
// @font-face {
// 	font-family: "helvetica55";
// 	src: url("../fonts/helveticaneueltpro_roman-webfont.eot");
// 	src: url("../fonts/helveticaneueltpro_roman-webfont.eot?#iefix") format("embedded-opentype"),
// 		url("../fonts/helveticaneueltpro_roman-webfont.woff") format("woff"),
// 		url("../fonts/helveticaneueltpro_roman-webfont.ttf") format("truetype"),
// 		url("../fonts/helveticaneueltpro_roman-webfont.svg#helvetica55") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }
@font-face {
	font-family: "helvetica75";
	src: url("../fonts/helveticaneueltpro_bd-webfont.eot");
	src: url("../fonts/helveticaneueltpro_bd-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltpro_bd-webfont.woff") format("woff"),
		url("../fonts/helveticaneueltpro_bd-webfont.ttf") format("truetype"),
		url("../fonts/helveticaneueltpro_bd-webfont.svg#helvetica75") format("svg");
	font-weight: normal;
	font-style: normal;
}
// @font-face {
// 	font-family: "helvetica95";
// 	src: url("../fonts/helveticaneueltpro_blk-webfont.eot");
// 	src: url("../fonts/helveticaneueltpro_blk-webfont.eot?#iefix") format("embedded-opentype"),
// 		url("../fonts/helveticaneueltpro_blk-webfont.woff") format("woff"),
// 		url("../fonts/helveticaneueltpro_blk-webfont.ttf") format("truetype"),
// 		url("../fonts/helveticaneueltpro_blk-webfont.svg#helvetica95") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }




// @font-face {
// 	font-family: "gill_sans_mt_condensedregular";
// 	src: url("../fonts/ufonts.com_gill_sans_mt_condensed_1_-webfont.eot");
// 	src: url("../fonts/ufonts.com_gill_sans_mt_condensed_1_-webfont.eot?#iefix") format("embedded-opentype"),
// 		url("../fonts/ufonts.com_gill_sans_mt_condensed_1_-webfont.woff") format("woff"),
// 		url("../fonts/ufonts.com_gill_sans_mt_condensed_1_-webfont.ttf") format("truetype"),
// 		url("../fonts/ufonts.com_gill_sans_mt_condensed_1_-webfont.svg#gill_sans_mt_condensedregular") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }






// @font-face {
// 	font-family:"gill_sans_mtregular";
// 	src: url("../fonts/gill_sans_mt-webfont.eot");
// 	src: url("../fonts/gill_sans_mt-webfont.eot?#iefix") format("embedded-opentype"),
// 		url("../fonts/gill_sans_mt-webfont.woff") format("woff"),
// 		url("../fonts/gill_sans_mt-webfont.ttf") format("truetype"),
// 		url("../fonts/gill_sans_mt-webfont.svg#gill_sans_mtregular") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }
// @font-face {
// 	font-family:"gill_sans_mtbold";
// 	src: url("../fonts/gill_sans_mt_bold-webfont.eot");
// 	src: url("../fonts/gill_sans_mt_bold-webfont.eot?#iefix") format("embedded-opentype"),
// 		url("../fonts/gill_sans_mt_bold-webfont.woff") format("woff"),
// 		url("../fonts/gill_sans_mt_bold-webfont.ttf") format("truetype"),
// 		url("../fonts/gill_sans_mt_bold-webfont.svg#gill_sans_mtbold") format("svg");
// 	font-weight: normal;
// 	font-style: normal;
// }
@font-face {
	font-family:"roadwayregular";
	src: url("../fonts/roadway-webfont.eot");
	src: url("../fonts/roadway-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/roadway-webfont.woff2") format("woff2"),
		url("../fonts/roadway-webfont.woff") format("woff"),
		url("../fonts/roadway-webfont.ttf") format("truetype"),
		url("../fonts/roadway-webfont.svg#roadwayregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* main style */
body {
  /*font-family: Arial, Helvetica, sans-serif;*/
  color: #323232;
  min-width: 320px;
  background-color: #fff;
}
h1, h2, p {
	margin:0;
	padding:0;
	font-weight: normal;
}
section, footer {
	// min-height: 240px;
	padding: 70px 10px;
}
.contentContainer {
	margin: 0 auto;
	width: 980px;
}
.parallaxContainer {
	background: transparent;
	// max-width: 1400px;
}
.noSelectClick {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.borderButton {
	border: 2px solid #fff;
	padding: 8px 10px;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
}
.backgroundDarkGrey { background-color : #323232; }

.condensedFont { font-family:"roadwayregular"; }
.normalFont { font-family:"helvetica45"; }
.boldFont { font-family:"helvetica75"; }
.textCenter { text-align: center; }
// .marginAuto { margin: 0 auto; display: block; }

// .fontSize16 { font-size:16px; line-height:16px; }
// .fontSize18 { font-size:18px; line-height:18px; }
.fontSize20 { font-size:20px; line-height:20px; }
.fontSize25 { font-size:25px; line-height:25px; }
// .fontSize30 { font-size:30px; line-height:30px; }
.fontSize40 { font-size:40px; line-height:40px; }

// .marginBottom5 { margin-bottom:5px; }
// .marginBottom10 { margin-bottom:10px; }
// .marginBottom25 { margin-bottom:25px; }
// .marginBottom40 { margin-bottom:40px; }
// .marginBottom10 { margin-bottom:10px; }


.clearBoth { clear: both; }
.contentPadding { padding: 10px; }

/* header */
header {
	#mobileNavigation {
		visibility: hidden;
		display: none;
		width: 100%;
		min-width: 320px;
		position: absolute;
		top: 59px;
		left: 0;
		#mobileNavigationArrow{
			float: right;
			margin-right: 22px;
			width: 0; 
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #000096;
		}
		#mobileNavigationContent {
			margin-top: 15px;
			background-color: #000096;
			color:#fff;
			padding: 0 5%;
			p {
				float: left;
				width: 25%;
				margin: 0;
				padding: 15px 0;
				text-align: center;
				font-size: 24px;
				line-height: 24px;
			}
		}
	}
	#headerContent {
		padding: 20px 10px 20px 20px;






		#clubHeaderLogo {
			float: left;
			// margin: 0 0 20px 20px;
			&:link, &:visited, &:hover, &:focus, &:active {
				color: #000096;
			}
			img {
				float: left;
				width: 54px;
				height:54px;
			}
			h1 {
				float: left;
				line-height: 18px;
				font-size: 18px;
				padding-left: 10px;
			}
			
		}
		#mobileButton {
			display: none;
			float: right;
			height: 36px;
			width: 34px;
			margin: 6px 4px 0 0;
			padding: 6px 6px 0 6px;
			div {
				background-color: #000096;
				width: 34px;
				height:6px;
				margin: 0 0 6px 0;
				-webkit-border-radius: 12px; 
				-moz-border-radius: 12px; 
				border-radius: 12px; 
			}
		}
		#navigation {
			float: right;
			// margin-right: 10px;
			p {
				float: left;
				padding: 10px;
				margin: 7px 0 7px 40px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}
#welcome {
	// margin-top: 94px;
	// background:red;
	h2, p{
		text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
	}
	h2 {
		margin: 45px 0 5px 0;
	}
	.borderButton {
		margin: 40px 0 45px 0;
	}
	
}
#ourClub {
	background-color: #323232;
}
#martialArts {
	p {
		text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
	}
	.martialArtsImageContainer {
		float: left;
		width: 33.333333%;
		// background-color: blue;


		// height: 200px;
		.martialArtsImage {
			min-height: 250px;
		}
	}
}
#news {
	background-color: #000096;
}
#seiza {
	min-height: 260px;
}
footer {
	background-color: #000;
}






#welcome, #ourClub, #martialArts, #news, footer {
	color: #fff;
}







/* Media Queries */
@media only screen and (max-width: 999px) {
	.contentContainer {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	section, footer {
		padding: 60px 10px;
	}
	header {
		#mobileNavigation {
			visibility: visible;
		}
		#headerContent {
			padding: 10px 10px 10px 20px;
			// #clubHeaderLogo {
			// 	margin-bottom:10px;
			// }
			#mobileButton {
				display: inline;
			}
			#navigation {
				display: none;
			// 	background-color: #000096;
			// 	color:#fff;
			// 	width: 100%;
			// 	margin: 0;
			// 	padding: 0;
			// 	#navigationContainer {
			// 		padding: 0 5%;
			// 	}
			// 	p {
			// 		width: 25%;
			// 		margin: 0;
			// 		padding: 15px 0;
			// 		text-align: center;
			// 		font-size: 24px;
			// 		line-height: 24px;
			// 	}
			}
		}
	}
	#welcome {
		h2 {
			margin: 0 0 10px 0;
		}
		.borderButton {
			margin: 20px 0 0 0;
		}
	}
}
@media only screen and (max-width: 479px) {
	// header #headerContent {
	// 	#navigation {
	// 		#navigationContainer {
	// 			padding: 0 10%;
	// 		}
	// 		p {
	// 			width: 50%;
	// 		}
	// 	}
	// }
	header {
		#mobileNavigation {
			// visibility: hidden;
			// display: none;
			// width: 100%;
			// min-width: 320px;
			// position: absolute;
			// top: 59px;
			// left: 0;
			#mobileNavigationArrow{
				// float: right;
				// margin-right: 22px;
				// width: 0; 
				// height: 0; 
				// border-left: 15px solid transparent;
				// border-right: 15px solid transparent;
				// border-bottom: 15px solid #000096;
			}
			#mobileNavigationContent {
				// margin-top: 15px;
				// background-color: #000096;
				// color:#fff;
				padding: 6px 10%;
				p {
					// float: left;
					width: 50%;
					// margin: 0;
					// padding: 15px 0;
					// text-align: center;
					// font-size: 24px;
					// line-height: 24px;
				}
			}
		}
	}
}





@media only screen and (min-width: 768px) and (max-width: 999px) {
	// body { color:red;}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
@media only screen and (max-width: 479px) {

}
