/* fonts */
@font-face {
	font-family:"helvetica45";
	src: url("../fonts/helveticaneueltpro_lt-webfont.eot");
	src: url("../fonts/helveticaneueltpro_lt-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltpro_lt-webfont.woff") format("woff"),
		url("../fonts/helveticaneueltpro_lt-webfont.ttf") format("truetype"),
		url("../fonts/helveticaneueltpro_lt-webfont.svg#helvetica45") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "helvetica75";
	src: url("../fonts/helveticaneueltpro_bd-webfont.eot");
	src: url("../fonts/helveticaneueltpro_bd-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltpro_bd-webfont.woff") format("woff"),
		url("../fonts/helveticaneueltpro_bd-webfont.ttf") format("truetype"),
		url("../fonts/helveticaneueltpro_bd-webfont.svg#helvetica75") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:"roadwayregular";
	src: url("../fonts/roadway-webfont.eot");
	src: url("../fonts/roadway-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/roadway-webfont.woff2") format("woff2"),
		url("../fonts/roadway-webfont.woff") format("woff"),
		url("../fonts/roadway-webfont.ttf") format("truetype"),
		url("../fonts/roadway-webfont.svg#roadwayregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* main style */
body {
	color: #323232;
	min-width: 320px;
	background-color: #fff;
	font-family: "helvetica45", Arial, Helvetica, sans-serif;
}
h1, h2, p {
	margin:0;
	padding:0;
	font-weight: normal;
}
a {
	text-decoration: none;
}
.section {
	padding: 70px 14px;
}
.contentContainer {
	margin: 0 auto;
	width: 980px;
}
.halfContent {
	width: 50%;
}
.parallaxContainer {
	background: transparent;
	background-color:#323232;
}
.noSelectClick {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.borderButton {
	border: 2px solid #fff;
	padding: 8px 10px;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
}
.displayNone { display:none; }
.backgroundDarkGrey { background-color : #323232; }
.colorBlue { color: #000096; }
.colorLightBlue { color:#cdcdff; }

.condensedFont { font-family:"roadwayregular"; }
.boldFont { font-family:"helvetica75"; }

.textCenter { text-align: center; }
.textJustify { text-align: justify; }
.textRight { text-align: right; }

.fontSize16 { font-size:16px; line-height:16px; }
.fontSize16Paragraph { font-size:16px; line-height:20px; }
.fontSize18 { font-size:18px; line-height:18px; }
.fontSize18Paragraph { font-size:18px; line-height:22px; }
.fontSize20 { font-size:20px; line-height:20px; }
.fontSize20Paragraph { font-size:20px; line-height:23px; }
.fontSize22 { font-size:22px; line-height:22px; }
.fontSize25 { font-size:25px; line-height:25px; }
.fontSize30 { font-size:30px; line-height:30px; }
.fontSize40 { font-size:40px; line-height:40px; }

.marginAuto { margin: 0 auto; }
.marginBottom5 { margin-bottom:5px; }
.marginBottom10 { margin-bottom:10px; }
.marginBottom15 { margin-bottom:15px; }
.marginBottom20 { margin-bottom:20px; }
.marginBottom30 { margin-bottom:30px; }
.marginBottom70 { margin-bottom:70px; }

.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }
.contentPadding { padding: 10px; }
.shortContentPadding { padding: 5px 10px; }
.posRel { position:relative; }
.overflowHidden { overflow: hidden; }

.linkTriangle16 {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #000096;
	margin: 4px 0 0 5px;
}
.moreTriangle {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #fff;
	margin: 4px 0 0 5px;
}
.backTriangle {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 8px solid #fff;
	margin: 4px 5px 0 0;
}

#scrollToTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	z-index: 10;
}
#header {
	#mobileNavigation {
		visibility: hidden;
		width: 100%;
		min-width: 320px;
		position: absolute;
		top: 59px;
		left: 0;
		#mobileNavigationArrow{
			margin-right: 22px;
			width: 0; 
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #000096;
		}
		#mobileNavigationContent {
			margin-top: 15px;
			background-color: #000096;
			color:#fff;
			padding: 0 5%;
			p {
				width: 25%;
				margin: 0;
				padding: 15px 0;
			}
		}
	}
	#headerContent {
		padding: 20px 14px 20px 24px;
		#clubHeaderLogo {
			&:link, &:visited, &:hover, &:focus, &:active {
				color: #000096;
			}
			img {
				width: 54px;
				height:54px;
			}
			h1 {
				padding-left: 10px;
			}
		}
		#mobileButton {
			height: 36px;
			width: 34px;
			margin: 6px 4px 0 0;
			padding: 6px 6px 0 6px;
			div {
				background-color: #323232;
				width: 34px;
				height:6px;
				margin: 0 0 6px 0;
				-webkit-border-radius: 12px; 
				-moz-border-radius: 12px; 
				border-radius: 12px; 
			}
		}
		#navigation {
			p {
				padding: 10px;
				margin: 7px 0 7px 40px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}
#welcome {
	h2, p{
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
	}
	h2 {
		margin: 58px 0 5px 0;
	}
	.borderButton {
		margin: 45px 0 50px 0;
	}	
}
#iconLinks {
	.iconLinksItem {
		width: 29.333%;
		padding: 10px 2%;
	}
	#dateText {
		padding-top: 18px;
	}
	.homeIcons {
		width: 48px;
		height: 48px;
		background-image:url(../images/icons.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	.homeIcon1 { background-position: 0 0; }
	.homeIcon2 { background-position: -48px 0; }
	.homeIcon3 { background-position: -96px 0; }
	.homeIcon4 { background-position: -144px 0; }
}
#ourClub {
	background-color: #323232;
	.fb-like {
		display: block;
		padding: 16px 0 0 5px;
	}
}
#martialArts {
	p {
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
	}
	.martialArtsImageContainer {
		width: 33.333%;
		.martialArtsImage {
			height: 250px;
			p {
				margin-top: 102px;
			}
		}
	}
}
// #news {
// 	background-color: #000096;
// 	.newsItem {
// 		width: 33.3333%;
// 		float: left;
// 		.newsImage {
// 			width: 100%;
// 		}
// 	}
// }
#howToJoin {
	background-color: #000096;
	.howToJoinJoinButton {
		border: 2px solid #fff;
		padding: 8px 10px;
		display: inline-block;
	}
}
#seiza {
	min-height: 280px;
}
#dojos {
	.locations {
		width: 33.333%;
		.mapImages {
			width: 100%;
			display: block;
			margin: 5px 0;
		}
	}
}
#contactUs {
	background-color: #fff;
	.contactUsTop {
		padding: 70px 14px 0 14px;
	}
	.contactUsBottom {
		padding: 0 14px 70px 14px;
	}
	a {
		color: #000096;
		text-decoration: none;
	}
	#contactUsFeedback {
		color:#fff;
		background-color: #d75452;
		.contactUsFeedbackPadding { padding: 10px 24px; }
	}
	select, input, textarea, #submitButton {
		background-color: #fff;
	}
	select {
		cursor: pointer;
	}
	input, textarea {
		border: 1px solid #323232;
		width: 96%;
		padding: 3px 1% 3px 2%;
	}	
	input {
		height: 20px;
	}
	textarea {
		resize: none;
		height: 84px;
	}
	#submitButton {
		color: #323232;
		border: 2px solid #323232;
		padding: 6px 8px;
		display: inline-block;
	}
	#contactUsLoading {
		padding: 1px;
	}
}
#footer {
	background-color: #000;
	padding: 70px 14px 0 14px;
	#footerLinks { 
		#footerLogo {
			position: absolute;
			left: 0;
			top: 0;
		}
		#footerLinksInner {
			padding-left: 100px;
		}
	}
	#footerFacebook {
		width: 504px;
		overflow: hidden;
	}
}
#welcome, #ourClub, #martialArts, #news, #howToJoin, #footer {
	color: #fff;
}

#kendoOverlay {
	display:none;
	z-index:20;
	position:fixed;
	top:0;
	left:0;
	min-width: 320px;
	width:100%;
	height:100%;
	color:#ffffff;
	overflow:hidden;
	#kendoOverlayContentPadding {
		padding: 10px 14px 70px 14px;
		text-align:justify;
		a {
		text-decoration: none;
		}
		img {
			display: block;
			width:100%;
		}
		#closeXGrey, #closeXWhite {
			margin: 6px 10px 6px 0;
			width: 48px;
			height: 48px;
		}
		#closeXGrey {
			display: none;
		}
		#closeXWhite {
			display: inline;
		}
		.documentIcon {
			width: 13px;
			height: 16px;
			background-image:url(../images/document-icon.png);
			background-position: 0 0;
			background-repeat: no-repeat;
			// margin-right: 5px;
			position:absolute;
			top: 5px;
			left: 10px;
		}
		.documentText {
			padding-left:18px;
		}
		.block75 { width: 75%; }
		.block66 { width: 66.666%; }
		.block50 { width: 50%; }
		.block33 { width: 33.333%; }
		.block25 { width: 25%; }
	}
	&.blueOverlay { background-color:#000096; }
	&.blackOverlay { background-color:#000000; }
	&.greyOverlay { background-color:#323232; }
	&.whiteOverlay { 
		background-color:#ffffff;
		color:#323232;
		#closeXGrey {
			display: inline !important;
		}
		#closeXWhite {
			display: none !important;
		}
		.documentIcon {
			background-position: -15px 0 !important;
		}
	}
	&.blueOverlay, &.blackOverlay, &.greyOverlay {
		.colorBlue {
			color:#cdcdff;
		}
		.linkTriangle16 {
			border-left-color:#cdcdff;
		}
	}
}

/* Media Queries */
@media only screen and (min-width: 1200px) {
	#scrollToTop {
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: 520px;
		width: 48px;
		height: 48px;
	}
}
@media only screen and (min-width: 768px) {
  .clearBothMoreThan768 {
		clear: both;
	}
}
@media only screen and (max-width: 1019px) {
	.contentContainer {
		width: 100%;
	}
	#footer {
		#footerLinks #footerLinksInner {
			padding-left: 90px;
		}
		#footerFacebook {
			width: 64%;
		}
	}
	#kendoOverlay #kendoOverlayContentPadding {
		.block75 { width: 50%; }
		.block25 { width: 50%; }
	}
}
@media only screen and (max-width: 767px) {
	.section {
		padding: 50px 14px;
	}
	#footer {
		padding: 50px 14px 0 10px;
	}
	.clearBothLessThan768 {
		clear: both;
	}
	#header {
		#mobileNavigation {
			visibility: visible;
		}
		#headerContent {
			padding: 10px 10px 10px 20px;
			#mobileButton {
				display: inline;
			}
			#navigation {
				display: none;
			}
		}
	}
	#welcome {
		h2 {
			margin: 0 0 10px 0;
		}
		.borderButton {
			margin: 20px 0 0 0;
		}
	}
	#dojos .locations {
		width: 50%;
	}
	#contactUs {
		.contactUsTop {
			padding: 50px 14px 0 14px;
		}
		.contactUsBottom {
			padding: 0 14px 50px 14px;
		}
	}
	#footer {
		#footerLinks #footerLinksInner {
			padding: 80px 0 0 0;
		}
		#footerFacebook {
			width: 70%;
		}
	}
	#kendoOverlay {
		#kendoOverlayContentPadding {
			padding: 10px 14px 40px 14px;
			#closeXGrey, #closeXWhite {
				margin: 0 10px;
				width: 40px;
				height: 40px;
			}
			h2 { padding-right:60px; }
			#closeButtonClear { display:none; }
		}
	}
}
@media only screen and (max-width: 599px) {
	.section {
		padding: 30px 14px;
	}
	#contactUs {
		.contactUsTop {
			padding: 30px 14px 0 14px;
		}
		.contactUsBottom {
			padding: 0 14px 30px 14px;
		}
	}
	#footer {
		padding: 30px 14px 0 14px;
	}
	.halfContent {
		width: 100%;
	}
	.textJustify { text-align: left; }
	#iconLinks {
		.iconLinksItem {
			width: 94%;
			padding: 21px 3%;
		}
	}
	#martialArts {
		.martialArtsImageContainer {
			width: 100%;
		}
	}
	// #news {
	// 	.newsItem {
	// 		width: 100%;
	// 	}
	// 	.newsPagination {
	// 		display: none !important;
	// 	}
	// }
	#dojos .locations {
		width: 100%;
	}
	#footer {
		#footerLinks {
			width: 100%;
			#footerLinksInner {
				padding: 0 0 0 80px;
				h2 {
					text-align: right;
				}
			}
		}
		#footerFacebook {
			width: 100%;
		}
	}
	#kendoOverlay {
		#kendoOverlayContentPadding {
			text-align:left;
			.block75, .block66, .block50, .block33, .block25 { width: 100%; }
		}
	}
}
@media only screen and (max-width: 479px) {
	.section {
		padding: 20px 14px;
	}
	#contactUs {
		.contactUsTop {
			padding: 20px 14px 0 14px;
		}
		.contactUsBottom {
			padding: 0 14px 20px 14px;
		}
	}
	#footer {
		padding: 20px 14px 10px 14px;
	}
	#header {
		#mobileNavigation {
			#mobileNavigationContent {
				padding: 6px 10%;
				p {
					width: 50%;
				}
			}
		}
	}
}
/* 
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/	
This element holds injected scripts inside iframes that in 
some cases may stretch layouts. So, we're just hiding it. 
*/
#footerFacebook {
	#fb-root {
		display: none;
	}
	/* To fill the container and nothing else */
	.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
		width: 100% !important;
	}
}

/* old IE */

