/* fonts */
@font-face {
	font-family:"helvetica45";
	src: url("../fonts/helveticaneueltpro_lt-webfont.eot");
	src: url("../fonts/helveticaneueltpro_lt-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltpro_lt-webfont.woff") format("woff"),
		url("../fonts/helveticaneueltpro_lt-webfont.ttf") format("truetype"),
		url("../fonts/helveticaneueltpro_lt-webfont.svg#helvetica45") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "helvetica75";
	src: url("../fonts/helveticaneueltpro_bd-webfont.eot");
	src: url("../fonts/helveticaneueltpro_bd-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltpro_bd-webfont.woff") format("woff"),
		url("../fonts/helveticaneueltpro_bd-webfont.ttf") format("truetype"),
		url("../fonts/helveticaneueltpro_bd-webfont.svg#helvetica75") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family:"roadwayregular";
	src: url("../fonts/roadway-webfont.eot");
	src: url("../fonts/roadway-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/roadway-webfont.woff2") format("woff2"),
		url("../fonts/roadway-webfont.woff") format("woff"),
		url("../fonts/roadway-webfont.ttf") format("truetype"),
		url("../fonts/roadway-webfont.svg#roadwayregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* main style */
body {
  color: #323232;
  min-width: 320px;
  background-color: #fff;
  font-family: "helvetica45", Arial, Helvetica, sans-serif;
}
h1, h2, p {
	margin:0;
	padding:0;
	font-weight: normal;
}
section, footer {
	padding: 70px 10px;
}
.contentContainer {
	margin: 0 auto;
	width: 980px;
}
.parallaxContainer {
	background: transparent;
	background-color:#323232;
	// max-width: 1400px;
}
.noSelectClick {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.borderButton {
	border: 2px solid #fff;
	padding: 8px 10px;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 1px rgba(0,0,0,0.5);
}
.displayNone { display:none; }
.backgroundDarkGrey { background-color : #323232; }
.colorBlue { color: #000096; }

.condensedFont { font-family:"roadwayregular"; }
.boldFont { font-family:"helvetica75"; }

.textCenter { text-align: center; }
.textJustify { text-align: justify; }
.textRight { text-align: right; }

.fontSize16 { font-size:16px; line-height:16px; }
.fontSize16Paragraph { font-size:16px; line-height:19px; }
.fontSize18 { font-size:18px; line-height:18px; }
.fontSize18Paragraph { font-size:18px; line-height:22px; }
.fontSize20 { font-size:20px; line-height:20px; }
.fontSize20Paragraph { font-size:20px; line-height:23px; }
.fontSize25 { font-size:25px; line-height:25px; }
.fontSize30 { font-size:30px; line-height:30px; }
.fontSize40 { font-size:40px; line-height:40px; }

.marginAuto { margin: 0 auto; }
// .marginBottom5 { margin-bottom:5px; }
.marginBottom10 { margin-bottom:10px; }
.marginBottom15 { margin-bottom:15px; }
.marginBottom20 { margin-bottom:20px; }
// .marginBottom25 { margin-bottom:25px; }
.marginBottom30 { margin-bottom:30px; }
// .marginBottom40 { margin-bottom:40px; }

.floatLeft { float: left; }
.floatRight { float: right; }
.clearBoth { clear: both; }
.contentPadding { padding: 10px; }

.linkTriangle {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #000096;
	margin: 2px 0 0 5px;
	// &.triangleBlue {
	// 	border-left-color: #000096;
	// }
}
.moreTriangle {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #fff;
	margin: 4px 0 0 5px;
}
.backTriangle {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 8px solid #fff;
	margin: 4px 5px 0 0;
}

#scrollToTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
}
header {
	#mobileNavigation {
		visibility: hidden;
		width: 100%;
		min-width: 320px;
		position: absolute;
		top: 59px;
		left: 0;
		#mobileNavigationArrow{
			margin-right: 22px;
			width: 0; 
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #000096;
		}
		#mobileNavigationContent {
			margin-top: 15px;
			background-color: #000096;
			color:#fff;
			padding: 0 5%;
			p {
				width: 25%;
				margin: 0;
				padding: 15px 0;
			}
		}
	}
	#headerContent {
		padding: 20px 10px 20px 20px;
		#clubHeaderLogo {
			&:link, &:visited, &:hover, &:focus, &:active {
				color: #000096;
			}
			img {
				width: 54px;
				height:54px;
			}
			h1 {
				padding-left: 10px;
			}
		}
		#mobileButton {
			height: 36px;
			width: 34px;
			margin: 6px 4px 0 0;
			padding: 6px 6px 0 6px;
			div {
				background-color: #323232;
				width: 34px;
				height:6px;
				margin: 0 0 6px 0;
				-webkit-border-radius: 12px; 
				-moz-border-radius: 12px; 
				border-radius: 12px; 
			}
		}
		#navigation {
			p {
				padding: 10px;
				margin: 7px 0 7px 40px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}
#welcome {
	h2, p{
		text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
	}
	h2 {
		margin: 45px 0 5px 0;
	}
	.borderButton {
		margin: 40px 0 45px 0;
	}	
}
#iconLinks {
	.iconLinksItem {
		width: 29.333%;
		padding: 10px 2%;
	}
	#dateText {
		padding-top: 18px;
	}
	.homeIcons {
		width: 48px;
		height: 48px;
		background-image:url(../images/icons.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	.homeIcon1 { background-position: 0 0; }
	.homeIcon2 { background-position: -48px 0; }
	.homeIcon3 { background-position: -96px 0; }
}
#ourClub {
	background-color: #323232;
	.ourClubContent {
		width: 50%;
	}
}
#martialArts {
	p {
		text-shadow: 0px 0px 1px rgba(0,0,0,0.75);
	}
	.martialArtsImageContainer {
		width: 33.333%;
		.martialArtsImage {
			height: 250px;
			p {
				margin-top: 102px;
			}
		}
	}
}
#news {
	background-color: #000096;
	.newsItem {
		width: 33.3333%;
		float: left;
		.newsImage {
			width: 100%;
		}
	}
}
#seiza {
	min-height: 260px;
}
#dojos {
	.locations {
		width: 25%;
		.mapImages {
			width: 100%;
			display: block;
			margin: 5px 0;
		}
	}
}

#contactUs {

}

footer {
	background-color: #000;
}


#welcome, #ourClub, #martialArts, #news, footer {
	color: #fff;
}







/* Media Queries */
@media only screen and (min-width: 1200px) {
	#scrollToTop {
		position: fixed;
		bottom: 30px;
		left: 50%;
		margin-left: 520px;
		width: 48px;
		height: 48px;
	}
}
@media only screen and (max-width: 999px) {
	.contentContainer {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	section, footer {
		padding: 60px 10px;
	}
	.clearBothLessThan768 {
		clear: both;
	}
	header {
		#mobileNavigation {
			visibility: visible;
		}
		#headerContent {
			padding: 10px 10px 10px 20px;
			#mobileButton {
				display: inline;
			}
			#navigation {
				display: none;
			}
		}
	}
	#welcome {
		h2 {
			margin: 0 0 10px 0;
		}
		.borderButton {
			margin: 20px 0 0 0;
		}
	}
	#dojos .locations {
		width: 50%;
	}
}
@media only screen and (max-width: 599px) {
	#iconLinks {
		.iconLinksItem {
			width: 94%;
			padding: 20px 3%;
		}
	}
	#ourClub {
		.ourClubContent {
			width: 100%;
		}
	}
	#martialArts {
		.martialArtsImageContainer {
			width: 100%;
		}
	}
	#news {
		.newsItem {
			width: 100%;
		}
		.newsPagination {
			display: none !important;
		}
	}
	#dojos .locations {
		width: 100%;
	}
}
@media only screen and (max-width: 479px) {
	header {
		#mobileNavigation {
			#mobileNavigationContent {
				padding: 6px 10%;
				p {
					width: 50%;
				}
			}
		}
	}
}





@media only screen and (min-width: 768px) and (max-width: 999px) {
	// body { color:red;}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
@media only screen and (max-width: 479px) {

}
